@page
@model ProyectoCiclo3.App.Frontend.Pages.FormBusesModel
@{
}
 
<div class="text-center">
    <form method="POST">
        <label for="nombre" class="form-label">Nombre:</label>
        <input type="text" class="form-control" id="nombre" name="nombre" required placeholder="Nombre">
        <label for="marca" class="form-label">Marca:</label>
        <input type="text" class="form-control" id="marca" name="marca" required placeholder="Marca">
        <label for="modelo" class="form-label">Modelo</label>
        <input type="number" class="form-control" id="modelo" name="modelo" required placeholder="Modelo">
        <label for="kilometraje" class="form-label">Kilometraje</label>
        <input type="number" class="form-control" id="kilometraje" name="kilometraje" required placeholder="kilometraje">
        <label for="num_asientos" class="form-label">Numero de asientos</label>
        <input type="number" class="form-control" id="num_asientos" name="num_asientos" required placeholder="num_asientos">
        <label for="placa" class="form-label">Placa</label>
        <input type="number" class="form-control" id="placa" name="placa" required placeholder="placa">
        <hr>
        <button type="submit" class="btn btn-success">Enviar</button>
    </form>
</div>

