@page
@model ProyectoCiclo3.App.Frontend.Pages.ListBusesModel
@{
}
<table class="table table-hover">
    <thead>
     <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Marca</th>
        <th scope="col">Modelo</th>
        <th scope="col">Kilometraje</th>
        <th scope="col">Número de asientos</th>
        <th scope="col">Placa</th>
     </tr>
    </thead>
   <tbody>>
     <tr>
      <th scope="row">1</th>
      <td>Familiar</td>
      <td>Renault</td>
      <td>1999</td>
      <td>150000</td>
      <td>5</td>
      <td>ABC123</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Auto Pesado</td>
      <td>Rivian R1T</td>
      <td>2018</td>
      <td>140000</td>
      <td>1</td>
      <td>SIP456</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Servicio Público</td>
      <td>Mercedes Benz</td>
      <td>2020</td>
      <td>160000</td>
      <td>120</td>
      <td>RUT789</td>
     </tr>
  </tbody>
</table>